.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(17, 255, 0, 0.863);
    padding: 20px;
    width: 60%;
    text-align: center;
    margin: 10% 20%;
}


@media screen and (max-width: 600px) {
    .login-container {
        margin: 10px;
    }
}