.reviews-container {
    max-width: 90%;
    margin: 1em auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reviews {
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.review {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 5px;
    max-width: 60%;
}
.review-header {
    font-weight: bold;
    color: #333;
}

.review:last-child {
    border-bottom: none;
}

.review-author {
    font-weight: bold;
}
.review-author, .review-header, .review-text{
    padding: 2px 10px;
}
.review-text {
    margin-top: 5px;
}

.add-review {
    margin-top: 20px;
}

.add-review textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-review button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.review-rating {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
}
.review-header-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    /* Add any additional styling you desire */
}

.star-rating {
    display: inline-block;
  }
  
  .star {
    font-size: 24px; /* Adjust the size of the stars */
    color: gray; /* Adjust the default color of the stars */
    cursor: pointer;
  }
  
  .star.checked {
    color: gold; /* Adjust the color of the selected stars */
  }
  