.add-product-container {
    
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
  }
  
  .input-group input[type="text"] {
    width: 100%;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
   
  .add-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-button:hover {
    background-color: #2980b9;
  }
  